:root {
    --main-color: #5d97d1;
    --secondary-color: #fff;
  }
  
  .back-to-home {
    position: fixed;
    top: 3vw;
    left: 7vw;
    z-index: 50;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .fa-arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ensures a perfect circle */
    height: 50px; /* Ensures a perfect circle */
    /* background: var(--secondary-color); */
    border-radius: 50%;
    border: 3px solid #5d97d1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    animation: moveLeft 0.2s forwards;
  }
  
  @keyframes moveLeft {
    from {
      transform: translateX(10px);
    }
    to {
      transform: translateX(0);
    }
  }
  