.scroll-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 7;
}


.scroll-text-container img {
  max-width: 100%; /* Adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 7;
}


.scroll-svg-container {
  position: absolute;
  top: 0; /* Ensures it starts from the top */
  left: 50%;
  transform: translate(-50%, 0); /* Centers horizontally */
  width: 100%;
  height: auto;
  z-index: 1; /* Ensures SVG is above */
  pointer-events: none;
}

/* h1 {
  position: relative;
  z-index: 7;
} */